.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
}

button {
  width: max-content;
  height: max-content;
  font-size: 20px;
  margin-left: 5px;
}

input {
  font-size: 20px;
}

p {
  font-size: 25px;
  font-weight: bold;
}

.input-container {
  margin-bottom: -10px;
}

.message {
  margin-top: -15px;
}

span {
  background-image: linear-gradient(90deg, #fa7e46, #fe487f);
}
